<!DOCTYPE html>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div>Registration</div>

<h1>Register</h1>
<form action="/registration" th:object="${user}" method="POST">
    <table>
        <tr>
            <td>I am interested in:</td>
            <td>
                <select th:field="*{role}">
                    <option th:value="CONSUMER" >finding a therapist</option>
                    <option th:value="PROVIDER" >providing therapy services</option>
                </select>
            </td>
        </tr>
    <tr>
        <td>First Name</td>
        <td><input th:field="*{firstName}"/></td>
        <p th:each="error: ${#fields.errors('firstName')}"
           th:text="${error}">Validation error</p>
    </tr>
    <tr>
        <td>Last Name</td>
        <td><input th:field="*{lastName}"/></td>
        <p th:each="error : ${#fields.errors('lastName')}"
           th:text="${error}">Validation error</p>
    </tr>
    <tr>
        <td >Email</td>
        <td><input type="email" th:field="*{email}"/></td>
        <p th:each="error : ${#fields.errors('email')}"
           th:text="${error}">Validation error</p>
    </tr>
    <tr>
        <td >Password</td>
        <td><input type="password" th:field="*{password}"/></td>
        <p th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
    </tr>
    <tr>
        <td>Confirm Password</td>
        <td><input type="password" th:field="*{matchingPassword}"/></td>
    </tr>
    </table>
    <button type="submit" class="btn btn-primary">submit</button>
</form>

<a th:href="@{/login}">login</a>

</body>
</html>